<div class="center">
    <div class="ui card">
      <div class="content">
        <div class="header"><%= @student.first_name+" "+@student.last_name %></div>
      </div>
      <div class="content">
        <% @student.cohorts.each do |cohort|%>
          <h4 class="ui sub header">Cohort:  <%= cohort.name %></h4>
          <h4 class="ui sub header">Year: <%= cohort.year %></h4>
        <% end %>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <p>Age: <%= @student.age %></p>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <p>Education: <%= @student.education %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <a class="ui button" href = "/student/<%= @student.id %>">Edit Student</a>
      </div>
    </div>
</div>
