<div class="center">
  <center><h1>All Teachers</h1></center>
  <br>
  <div class="ui card">
      <a class="image" href="/teacher/new">
        <%= image_tag "Add.jpeg" %>
      </a>
      <div class="content">
        <a class="header" href="/teacher/new">ADD Teacher</a>
      </div>
    </div>
  <% @teachers.each do |teacher|%>
    <div class="ui card">
      <div class="content">
        <div class="header"><%= teacher.first_name+" "+teacher.last_name %></div>
      </div>
      <div class="content">
        <% teacher.cohorts.each do |cohort|%>
          <h4 class="ui sub header">Cohort:  <%= cohort.name %></h4>
          <h4 class="ui sub header">Year: <%= cohort.year %></h4>
        <% end %>
      </div>
      <div class="extra content">
        <a class="ui button" href = "/teacher/<%= teacher.id %>">View Teacher</a>
      </div>
    </div>
  <% end %>
</div>
