
<div class="center2">
  <center>
    <h1>Edit cohort:  <%= @cohort.name %></h1>
    <h1>Year:  <%= @cohort.year %></h1>

  </center>
  <%= form_tag "/cohorts/" + @cohort.id.to_s, method: 'put', class: "ui form" do %>
    <div class="field">
      <label>cohort Name</label>
      <input type="text" name="name" value="<%= @cohort.name %>" placeholder="Name">
    </div>
    <div class="field">
      <label>School Year </label>
      <input type="text" name="year" value = "<%= @cohort.year %>"placeholder="Credit">
    </div>
    <button class="ui button" type="submit">Submit</button>
  <% end %>
</div>