<div class="">
  <center><h1>All Cohorts</h1></center>
      <div class="ui card">
    <a class="image" href="/cohorts/new">
      <%= image_tag "Add.jpeg" %>
    </a>
    <div class="content">
      <a class="header" href="/cohorts/new">ADD A COHORT</a>
    </div>
  </div>
  <% @cohorts.each do |c| %>
    <div class="ui card">
      <a class="image" href="#">
        <%= image_tag "yucda.png" %>
      </a>
      <div class="content">
        <a class="header" href="/cohorts/<%= c.id %>"> <%= c.name %> from <%= c.year%> </a>
        <div class="meta">
          <a><%= c.students.count %> students atended</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
